@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 34, ../_assets/stylesheets/_fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
/* line 51, ../_assets/stylesheets/_fonts.scss */
.icon-sparkbox:before, .icon-twitter:before, .icon-github:before, .icon-box-end:before, .icon-box-end-2:before, .icon-video:before, .icon-photo:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 59, ../_assets/stylesheets/_fonts.scss */
.icon-github:before {
  content: "\e000";
}

/* line 62, ../_assets/stylesheets/_fonts.scss */
.icon-sparkbox:before {
  content: "\e001";
}

/* line 65, ../_assets/stylesheets/_fonts.scss */
.icon-twitter:before {
  content: "\e002";
}

/* line 68, ../_assets/stylesheets/_fonts.scss */
.icon-box-end:before {
  content: "\e004";
}

/* line 71, ../_assets/stylesheets/_fonts.scss */
.icon-box-end-2:before {
  content: "\e003";
}

/* line 74, ../_assets/stylesheets/_fonts.scss */
.icon-video:before {
  content: "\e005";
}

/* line 77, ../_assets/stylesheets/_fonts.scss */
.icon-photo:before {
  content: "\e006";
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 21, ../_assets/stylesheets/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../_assets/stylesheets/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, ../_assets/stylesheets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, ../_assets/stylesheets/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, ../_assets/stylesheets/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 73, ../_assets/stylesheets/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 85, ../_assets/stylesheets/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 94, ../_assets/stylesheets/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 107, ../_assets/stylesheets/_normalize.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 115, ../_assets/stylesheets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 124, ../_assets/stylesheets/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 132, ../_assets/stylesheets/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 140, ../_assets/stylesheets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 153, ../_assets/stylesheets/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 162, ../_assets/stylesheets/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 172, ../_assets/stylesheets/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 180, ../_assets/stylesheets/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 189, ../_assets/stylesheets/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 196, ../_assets/stylesheets/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 200, ../_assets/stylesheets/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 212, ../_assets/stylesheets/_normalize.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 220, ../_assets/stylesheets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 232, ../_assets/stylesheets/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 244, ../_assets/stylesheets/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 255, ../_assets/stylesheets/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 269, ../_assets/stylesheets/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 281, ../_assets/stylesheets/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 296, ../_assets/stylesheets/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 306, ../_assets/stylesheets/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 316, ../_assets/stylesheets/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 327, ../_assets/stylesheets/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 340, ../_assets/stylesheets/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 349, ../_assets/stylesheets/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 359, ../_assets/stylesheets/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 372, ../_assets/stylesheets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../_assets/stylesheets/_common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../_assets/stylesheets/_common.scss */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 18, ../_assets/stylesheets/_common.scss */
body {
  background: url(/img/sd/background.jpg);
  font-family: 'museo-slab', serif;
  margin: 0;
  padding: 0;
}

/* line 25, ../_assets/stylesheets/_common.scss */
.map {
  width: 100%;
  height: 250px;
}

/* line 1, ../_assets/stylesheets/_header.scss */
header {
  background: #e0562f url(/img/sd/dayton-map-overlay.png) no-repeat;
  background-size: 100%;
  background-position: 0 20%;
}
/* line 9, ../_assets/stylesheets/_header.scss */
header h1 {
  margin: 0 auto;
  width: 334px;
  height: 252px;
  background: url(/img/sd/gemCityJS-white.png) no-repeat 50% 50px;
  text-indent: -9999px;
}
/* line 17, ../_assets/stylesheets/_header.scss */
header p {
  font-size: 32px;
  font-size: 2rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
  font-weight: 100;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

/* line 1, ../_assets/stylesheets/_listing.scss */
.flexbox .meeting-wrapper {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

/* line 18, ../_assets/stylesheets/_listing.scss */
article {
  margin: 0 auto;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  text-align: center;
}
/* line 24, ../_assets/stylesheets/_listing.scss */
article:nth-child(2n+1) {
  clear: left;
}
/* line 28, ../_assets/stylesheets/_listing.scss */
article h1 {
  background: #e0562f;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #e0562f;
  position: relative;
  height: 38px;
  line-height: 38px;
}
/* line 42, ../_assets/stylesheets/_mixins.scss */
article h1:after, article h1:before {
  color: #e0562f;
  font-family: 'icomoon';
  font-size: 38px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: -1px;
  -webkit-font-smoothing: none;
}
/* line 54, ../_assets/stylesheets/_mixins.scss */
article h1:after {
  content: "\e004";
  right: -24.51613px;
}
/* line 58, ../_assets/stylesheets/_mixins.scss */
article h1:before {
  content: "\e003";
  left: -23.75px;
}
/* line 40, ../_assets/stylesheets/_listing.scss */
article time {
  font-size: 25.6px;
  font-size: 1.6rem;
  font-weight: 100;
  display: block;
  margin-top: 10px;
}
/* line 47, ../_assets/stylesheets/_listing.scss */
article p {
  font-size: 28.8px;
  font-size: 1.8rem;
  margin: 8px 8px 8px 8px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #e0562f;
}

/* line 55, ../_assets/stylesheets/_listing.scss */
.upcoming article {
  background: white;
  width: 80%;
}
/* line 59, ../_assets/stylesheets/_listing.scss */
.upcoming article h1 {
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px);
  text-transform: uppercase;
}
/* line 64, ../_assets/stylesheets/_listing.scss */
.upcoming article.next-meeting {
  background: transparent url(/img/sd/grid.png);
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  margin: 0px 0px 48px 0px;
  margin: 0rem 0rem 3rem 0rem;
  width: 100%;
}
/* line 70, ../_assets/stylesheets/_listing.scss */
.upcoming article.next-meeting h1 {
  background: #231f20;
  border-color: #231f20;
  width: 240px;
}
/* line 75, ../_assets/stylesheets/_listing.scss */
.upcoming article.next-meeting h1:before, .upcoming article.next-meeting h1:after {
  color: #231f20;
  top: -1px;
}

/* line 84, ../_assets/stylesheets/_listing.scss */
.past {
  background: rgba(0, 0, 0, 0.12);
  float: left;
  clear: left;
  width: 100%;
}
/* line 90, ../_assets/stylesheets/_listing.scss */
.past h1 {
  background: #7d7d7d;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 3%;
  width: 209px;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
  border: 1px solid #7d7d7d;
  position: relative;
  height: 20px;
  line-height: 20px;
}
/* line 42, ../_assets/stylesheets/_mixins.scss */
.past h1:after, .past h1:before {
  color: #7d7d7d;
  font-family: 'icomoon';
  font-size: 20px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: -1px;
  -webkit-font-smoothing: none;
}
/* line 54, ../_assets/stylesheets/_mixins.scss */
.past h1:after {
  content: "\e004";
  right: -12.90323px;
}
/* line 58, ../_assets/stylesheets/_mixins.scss */
.past h1:before {
  content: "\e003";
  left: -12.5px;
}
/* line 101, ../_assets/stylesheets/_listing.scss */
.past h1:before, .past h1:after {
  top: -.5px;
}
/* line 106, ../_assets/stylesheets/_listing.scss */
.past article {
  border-bottom: 1px solid #7d7d7d;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
/* line 111, ../_assets/stylesheets/_listing.scss */
.past article.ending {
  border-bottom: none;
}
/* line 115, ../_assets/stylesheets/_listing.scss */
.past article:last-child {
  margin-bottom: 0;
}
/* line 119, ../_assets/stylesheets/_listing.scss */
.past article time, .past article p, .past article a {
  color: #231f20;
}
/* line 123, ../_assets/stylesheets/_listing.scss */
.past article .media-link {
  text-decoration: none;
}
/* line 126, ../_assets/stylesheets/_listing.scss */
.past article .media-link:before {
  color: #7d7d7d;
  position: relative;
  left: -6px;
}

/* line 137, ../_assets/stylesheets/_listing.scss */
.upcoming article {
  border: none;
  float: left;
  margin: 50px 5%;
  width: 40%;
}
/* line 143, ../_assets/stylesheets/_listing.scss */
.upcoming article.first {
  width: 100%;
}

/* line 149, ../_assets/stylesheets/_listing.scss */
.past {
  padding: 0 5% 5%;
}
/* line 152, ../_assets/stylesheets/_listing.scss */
.past article {
  float: left;
  margin: 0;
  padding: 0 5% 20px;
  width: 50%;
}
/* line 158, ../_assets/stylesheets/_listing.scss */
.past article:nth-child(2n+1) {
  border-right: 1px solid #7d7d7d;
}

/* line 1, ../_assets/stylesheets/_sponsorship.scss */
.sponsorship {
  background: url(/img/sd/background.jpg);
  padding: .5em 5%;
}

/* line 1, ../_assets/stylesheets/_footer.scss */
footer {
  background: #323232;
  color: white;
  float: left;
  width: 100%;
  padding: 0 5%;
}
/* line 9, ../_assets/stylesheets/_footer.scss */
footer h2, footer label {
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-top: 64px;
  margin-top: 4rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/* line 18, ../_assets/stylesheets/_footer.scss */
footer p {
  font-size: 25.6px;
  font-size: 1.6rem;
  font-weight: 100;
}
/* line 23, ../_assets/stylesheets/_footer.scss */
footer [data-icon] {
  text-decoration: none;
}
/* line 26, ../_assets/stylesheets/_footer.scss */
footer [data-icon]:before {
  color: #e0562f;
  display: inline-block;
  font-size: 45px;
  margin: 10px 10px 0;
}

/* line 35, ../_assets/stylesheets/_footer.scss */
.vcard {
  font-size: 25.6px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #e0562f;
}

/* line 41, ../_assets/stylesheets/_footer.scss */
.map {
  width: 100%;
  min-height: 35%;
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

/* line 49, ../_assets/stylesheets/_footer.scss */
footer .column {
  float: left;
  padding: 0 5%;
  width: 50%;
}

/* line 57, ../_assets/stylesheets/_footer.scss */
.email-signup {
  width: 100%;
}
/* line 60, ../_assets/stylesheets/_footer.scss */
.email-signup .email {
  width: 100%;
  font-size: 1.7rem;
  padding: 0.2em;
  margin-bottom: 1em;
  margin-right: .5em;
  width: 66%;
}
/* line 72, ../_assets/stylesheets/_footer.scss */
.email-signup .button {
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 5px 10px 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  padding: 0.6em 0.9em;
}
