.call-to-action {
  @include pointy-box( 38px, $callToActionBackground );
  display: block;
  background: $callToActionBackground;
  margin: 1.5em auto 1em;
  width: 10em;
  color: #fff;
  text-decoration: none;

  &:not(.sold-out):hover {
    text-decoration: underline;
  }
}
