$orange: #e0562f;
$darkGrey: #231f20;
$mediumGrey: #323232;
$lightGrey: #7d7d7d;

//--------------------------------------------
$headerBackground: $orange;

$articleBackground: #fff;

$articleHeadingBackground: $orange;
$articleHeadingText: #fff;

$nextMeetingHeadingBackground: $darkGrey;
$prevMeetingHeadingBackground: $lightGrey;
$prevMeetingHeadingTest: #fff;
$prevMeetingText: $darkGrey;
$prevMeetingBorder: $lightGrey;
$mediaLinkIcon: $lightGrey;

$presenterText: $orange;

$footerBackground: $mediumGrey;
$footerText: #fff;
$vcardText: $orange;

$trackUs: $orange;

$callToActionBackground: $orange;
