---
layout: default
title: GemCityJS
---

<section class="upcoming">
  {% for post in site.posts %}
    {% if post.when == "next" %}
        <article class="next-meeting">
          <h1>Next Meeting</h1>
          <time>{{post.date | date: "%b %d, %Y"}} @ {{post.meeting_time}}</time>
          <p>{{post.title}}</p>
          <ul class="links">
          {% if post.twitter %}
            <li class="link-item">
              <a class="link-twitter" href="//twitter.com/{{post.twitter}}">@{{post.twitter}}</a>
            </li>
          {% endif %}
            <li class="link-item">
              <a href="{{post.rsvp_link}}">RSVP</a>
            </li>
          <p class="lunch">{{post.food}}</p>
        </article>
    {% endif %}
  {% endfor %}

  <div class="meeting-wrapper">
    {% for post in site.posts reversed %}
      {% if post.when == "upcoming" %}
        <article>
          <h1>Upcoming Meeting</h1>
          <time>{{post.date | date: "%b %d, %Y"}}</time>
          <p>{{post.title}}</p>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="past">
  <h1>Past Meetings</h1>
  <div class="meeting-wrapper">
    {% for post in site.posts %}
      {% if post.when == "past" %}
        <article>
          <time>{{post.date | date: "%b %d, %Y"}}</time>
          <p>{{post.title}}</p>
          {% if post.video %}
            <a href="{{post.video}}" class="media-link" data-icon="&#xe005;">Video</a>
          {% endif %}
          {% if post.slides %}
            <a href="{{post.slides}}" class="media-link">Slides</a>
          {% endif %}
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>