<div class="code-of-conduct">
  <h2>Code of Conduct</h2>
  <p>Gem City JS is dedicated to providing inclusive, harassment-free, educational experiences for everyone, regardless of gender,
    gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity,
    or religion or lack thereof.</p>
  <p>We expect speakers, attendees, sponsors, and hosts to fully comply with these ideals at Gem City JS related events. If
    you are harassed, or if you witness harassment, please contact the organizers immediately. Gem City JS reserves the right
    to determine the appropriate response, including but not limited to expelling individuals from the event without refund.</p>
  <p>Don’t be nasty or mean—be considerate and respectful.</p>
  <p>If you have any questions or concerns, please email the Gem City JS team at info@gemcityjs.com</p>
</div>
{{!--
<div class="sponsorship">
  <h2>Want to be a sponsor?</h2>
  <p>Check out the
    <a href="https://docs.google.com/document/d/1nJYQRwZwBaG1OFTicwKxm0dYQHGDhwoRz_QDvG3ZG6M/edit?usp=sharing">Sponsor Prospectus</a> for more details.</p>
</div> --}}
<footer>
  <div class="column">
    <h2>Who can come?</h2>
    <p>The only prerequisite to attend is a desire to learn more about JavaScript. We'd love to see you at our next meetup.</p>

    <h2>Keep track of us</h2>

    <a class="icon-twitter" href="http://twitter.com/gemcityjs">
      <span class="hidden">@gemcityjs</span>
    </a>
    <a class="icon-github" href="http://github.com/gemcityjs">
      <span class="hidden">gemcityjs</span>
    </a>
    <a class="icon-sparkbox" href="http://seesparkbox.com">
      <span class="hidden">sparkbox</span>
    </a>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="http://robtarr.us1.list-manage.com/subscribe/post?u=a1369227f387e7a7a82b0eaea&amp;id=32d56762b2" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="email-signup" target="_blank">
        <label for="mce-EMAIL">Subscribe to the mailing list</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

  <div class="column">
    <h2>Where we meet</h2>
    <div class="vcard">
      <div class="org">Sparkbox</div>
      <div class="adr">
        <div class="street-address">123 Webster St., Suite 2</div>
        <span class="locality">Dayton</span>,
        <span class="region">OH</span>
      </div>
    </div>
    <p>You can park in the visitor lot in front of the building. We're on the second floor. Lost? Call us:
      <b>937.401.0915</b>.</p>
    <iframe class="map" frameBorder='0' src='http://a.tiles.mapbox.com/v3/robtarr.map-e984ivi3.html#17/39.76300206698221/-84.18339673149107'></iframe>
  </div>
</footer>