<header>
  <img class="header-bot bruiser-bot" src="/img/bruiser-bot.png" alt="Bruiser Bot">
  <h1>Dayton<br> NodeBots Day</h1>
  <img class="header-bot wheelie-bot" src="/img/wheelie-bot.png" alt="Wheelie Bot">
  <p>
    Join us for a day of building robots with JavaScript.
  </p>
</header>
