<div class="sponsorship">
  <h1>Brought to you by:</h1>
  <ul class="sponsor-list">
    <li>
      <img src="/img/logo-datayard.png" alt="DataYard">
  </ul>
  {{!-- <h2>Want to be a sponsor?</h2>
  <p>Check out the <a href="https://drive.google.com/a/heysparkbox.com/file/d/0B4CEmoP-hNToYy1URk1ITTA2LUU/view?usp=sharing">Sponsor Prospectus</a> for more details.</p> --}}
</div>
<footer>
  <div class="column">
    <h2>Who can come?</h2>
    <p>The only prerequisite to attend is a desire to build. We'd love to see you at Nodebots Day.</p>

    <h2>Follow us</h2>

    <a class="icon-twitter" href="http://twitter.com/gemcityjs"><span class="hidden">@DaytonNodeBots</span></a>
  </div>

  <div class="column">
    <h2>Where we meet</h2>
    <div class="vcard">
      <div class="org">Sparkbox</div>
      <div class="adr">
        <div class="street-address">123 Webster St., Suite 2</div>
        <span class="locality">Dayton</span>,
        <span class="region">OH</span>
      </div>
    </div>
    <p>You can park in the visitor lot in front of the building. We're on the second floor. Lost? Call us: <b>937.401.0915</b>.</p>
    <iframe class="map" frameBorder='0' src='http://a.tiles.mapbox.com/v3/robtarr.map-e984ivi3.html#17/39.76300206698221/-84.18339673149107'></iframe>
  </div>
</footer>
