<header>
  <img src="/img/sd/gemCityJS-white.png" alt="GemCityJS">
  <span class="plus">+</span>
  <img src="/img/NodeBots-logo.png" alt="NodeBots">
  <p>
    Want to build JavaScript powered robots? Want to battle those robots with your friends? This is the event for you!
  </p>
</header>
