<div class="cmp-conduct">
  <div class="cmp-conduct__layout">
    <h2 class="cmp-conduct__heading">Code of Conduct</h2>

    <p class="cmp-conduct__text">Gem City JS is dedicated to providing inclusive, harassment-free, educational experiences for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, or religion or lack thereof.</p>

    <p class="cmp-conduct__text">We expect speakers, attendees, sponsors, and hosts to fully comply with these ideals at Gem City JS related events. If you are harassed, or if you witness harassment, please contact the organizers immediately. Gem City JS reserves the right to determine the appropriate response, including but not limited to expelling individuals from the event without refund.</p>

    <p class="cmp-conduct__text">Don’t be nasty or mean—be considerate and respectful.</p>

    <p class="cmp-conduct__text">If you have any questions or concerns, please email the Gem City JS team at <a href="mailto:info@gemcityjs.com" class="cmp-conduct__link">info@gemcityjs.com</a>.</p>
  </div>
</div>
