<header class="cmp-hero">
  <div class="cmp-hero__content">
    <div class="obj-limit-width">
      <div class="cmp-hero__content-layout">
        <h1 class="cmp-hero__logo">
          <span class="util-visually-hidden">
            {{site.title}}
          </span>
        </h1>
        <p class="cmp-hero__description">
          {{site.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="cmp-hero__image-container">
    <img src="/assets/images/hero.jpg" class="cmp-hero__image" />
  </div>
</header>
