.cmp-archives {
  padding: 2rem 0 3rem;

  &__heading {
    margin: 2rem auto 3rem;
    text-align: center;
    color: $c-orange;
  }

  &__list {
    @include delist;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-right: 1px solid gray(3);
    border-bottom: 1px solid gray(3);
  }

  &__item {
    border-top: 1px solid gray(3);
    border-left: 1px solid gray(3);
    padding: 1.5rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;

    &:nth-child(even) {
      background-color: gray(1);
    }
  }

  &__event-date {
    color: gray(60);
    font-family: $font-sans;
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    order: -1;
  }

  &__links-list {
    @include delist;
    margin-top: 1rem;
  }

  &__link-item {
    display: inline-block;

    & + &::before {
      content: '•';
      display: inline-block;
      padding: 0 0.5rem;
      color: gray(25);
    }
  }

  &__link {
    @include unlink;
    display: inline-block;
    padding-bottom: 0.125rem;
    color: $c-orange;
    box-shadow: 0 0.125rem mix(gray(0), $c-orange, 60%);
    transition: box-shadow 150ms ease-in-out,
                color 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0.25rem mix(gray(0), $c-orange, 60%);
    }
  }
}
