---
layout: nodebots.hbs
---

<section class="upcoming">
  <article class="next-meeting">
    <h1>NodeBots Rules</h1>
    <h2>Matches</h2>
    <ul>
      <li>Timed at 2 minutes each</li>
      <li>Win by pushing your opponent out of the ring or being closest to center at end of time (position deteremined by location of Arduino board)</li>
    </ul>
    <h2>Robots</h2>
    <ul>
      <li>Locomotion must be controlled by provided motors</li>
      <li>Weapons and defense systems can use other power</li>
      <li>Weight limit is 800 grams</li>
      <li>Must fit inside of start box</li>
    </ul>
  </article>
</section>

<section class="schedule">
  <ol class="schedule-list">
    <li class="schedule-list--item">
      <time class="schedule-list--time">8:30 - 9:00</time>
      <span class="schedule-list--description">Checkin/Registration</span>
    </li>
    <li class="schedule-list--item">
      <time class="schedule-list--time">9:00 - 9:45</time>
      <span class="schedule-list--description">Introduction &amp; Instructions</span>
    </li>
    <li class="schedule-list--item">
      <time class="schedule-list--time">9:45 - 12:00</time>
      <span class="schedule-list--description">Design &amp; Build</span>
    </li>
    <li class="schedule-list--item">
      <time class="schedule-list--time">12:00 - 1:00</time>
      <span class="schedule-list--description">Lunch</span>
    </li>
    <li class="schedule-list--item">
      <time class="schedule-list--time">1:00 - 4:00</time>
      <span class="schedule-list--description">Build &amp; Test</span>
    </li>
    <li class="schedule-list--item">
      <time class="schedule-list--time">4:00 - 5:00</time>
      <span class="schedule-list--description">Battle</span>
    </li>
  </ol>

</section>
