.icon-box-end { background-image: url('png/box-end.png'); background-repeat: no-repeat; }

.icon-box-end2 { background-image: url('png/box-end2.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-logo-graphic { background-image: url('png/logo-graphic.png'); background-repeat: no-repeat; }

.icon-sparkbox { background-image: url('png/sparkbox.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-video { background-image: url('png/video.png'); background-repeat: no-repeat; }

