* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  background: url(/img/sd/background.jpg);
  font-family: 'museo-slab', serif;
  margin: 0;
  padding: 0;
}

.map {
  width: 100%;
  height: 250px;
}