@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'museo';
//   src:url('/fonts/museo_slab_500-webfont.eot');
//   src:url('/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
//     url('/fonts/museo_slab_500-webfont.woff') format('woff'),
//     url('/fonts/museo_slab_500-webfont.ttf') format('truetype'),
//     url('/fonts/museo_slab_500-webfont.svg#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'museo';
//   src:url('/fonts/museo_slab_500-webfont.eot');
//   src:url('/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
//     url('/fonts/museo_slab_500-webfont.woff') format('woff'),
//     url('/fonts/museo_slab_500-webfont.ttf') format('truetype'),
//     url('/fonts/museo_slab_500-webfont.svg#icomoon') format('svg');
//   font-weight: 100;
//   font-style: normal;
// }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-sparkbox:before, .icon-twitter:before, .icon-github:before, .icon-box-end:before, .icon-box-end-2:before, .icon-video:before, .icon-photo:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-github:before {
  content: "\e000";
}
.icon-sparkbox:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-box-end:before {
  content: "\e004";
}
.icon-box-end-2:before {
  content: "\e003";
}
.icon-video:before {
  content: "\e005";
}
.icon-photo:before {
  content: "\e006";
}