footer {
  background: $footerBackground;
  color: $footerText;
  float: left;
  // text-align: center;
  width: 100%;
  padding: 0 5%;

  h2, label {
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    @include rem( font-size, .9 );
    @include rem( margin-top, 4 );
    @include rem( margin-bottom, 1 );
  }

  p {
    @include rem( font-size, 1.6 );
    font-weight: 100;
  }

  [data-icon] {
    text-decoration: none;

    &:before {
      color: $trackUs;
      display: inline-block;
      font-size: 45px;
      margin: 10px 10px 0;
    }
  }
}

.vcard {
  @include rem( font-size, 1.6 );
  font-weight: 100;
  color: $vcardText;
}

.map {
  width: 100%;
  min-height: 35%;
  @include rem( margin-bottom, 4 );
}

@include sb-media( 40em ) {
  footer {
    .column {
      float: left;
      padding: 0 5%;
      width: 50%;
    }
  }
}

.email-signup {
  width: 100%;

  .email {
    width: 100%;
    font-size: 1.7rem;
    padding: 0.2em;
    margin-bottom: 1em;
    margin-right: .5em;

    @include sb-media(40em) {
      width: 66%;
    }
  }

  .button {
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    @include rem(font-size, 1.2);
    font-weight: bold;
    margin: 0 5px 10px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    padding: 0.6em 0.9em;
  }
}
