$base-font-multiplier: 1; // master font size integer
$base-font-size: $base-font-multiplier * 100%;

@mixin rem( $property, $a:0, $b:$a, $c:$a, $d:$b ) {
  @if ( $property == "font-size" ) {
    // $a is the font size
    // %b is the keyword
    @if ( $a != $b ) {
      font-size: $b;
    }
    @else {
      font-size: $a * $base-font-multiplier * 16px;
    }
    font-size: $a * 1rem;
  } @else {
    $apx: $a * $base-font-multiplier * 16px;
    $bpx: $b * $base-font-multiplier * 16px;
    $cpx: $c * $base-font-multiplier * 16px;
    $dpx: $d * $base-font-multiplier * 16px;
    $arem: $a * 1rem;
    $brem: $b * 1rem;
    $crem: $c * 1rem;
    $drem: $d * 1rem;

    @if ( $property == "padding" or $property == "margin" ){
      #{$property}: $apx $bpx $cpx $dpx;
      #{$property}: $arem $brem $crem $drem;
    } @else {
      #{$property}: $apx;
      #{$property}: $arem;
    }
  }
}

@mixin pointy-box( $height, $color ) {
  border: 1px solid $color;
  position: relative;
  height: $height;
  line-height: $height;
  
  &:after,
  &:before {
    color: $color;
    font-family: 'icomoon';
    font-size: $height;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: -1px;
    -webkit-font-smoothing: none;
  }
  &:after {
    content: "\e004";
    right: -1 * $height / 1.55;
  }
  &:before {
    content: "\e003";
    left: -1 * $height / 1.6;
  }
}